.chat-side
  .chat-side__user
    .chat-side__user--content
      .chat-side__user--content-name
        = current_user.name
      %a.chat-side__user--new-group
        = link_to new_group_path do
          = fa_icon 'edit', class: 'icon'
      %a.chat-side__user--edit-user
        = link_to edit_user_path(current_user) do

          / 引数（ここではcurrent_user)がないと、ActionController::UrlGenerationError in Messages#index とでる。
          = fa_icon 'cog', class: 'icon'

  .chat-side__groups
    - current_user.groups.each do |group| # groupsのインスタンス変数を使用しているのではなく、current_userからgroupsの情報を抽出している。
      .chat-side__groups--list
        .chat-side__groups--list-group
          = link_to group_messages_path(group) do
            .chat-side__groups--list-group-name
              = group.name
            .chat-side__groups--list-group-message
              = group.show_last_message
